In [1]:
import pandas as pd
import numpy as np

# 1 Creating a dataframe from an array

1.1 Option 1

In [3]:
# creating an array 
data = np.array([[1,4], [2,5], [3,6]])

In [5]:
# creating a dataframe
pd.DataFrame(data)

   0  1
0  1  4
1  2  5
2  3  6

In [7]:
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
                 columns=['col1', 'col2'])

In [9]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

 # 1.2 Option 2

In [11]:
#creating an array with list shape
data = [[1,4], [2,5], [3,6]]

In [13]:
# creating a dataframe
df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
                 columns=['col1', 'col2'])

In [15]:
# showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

# Creating a DataFrame from a dictionary

In [17]:
# lists used for this example
states = ['California', 'Texas', 'Florida', 'New York']
population = [39613493, 29730311, 21944577, 19299981]

In [19]:
# Storing lists within a dictionary
dict_states = {'States':states, 'Population':population}

In [21]:
# Creating the dataframe 
df_population = pd.DataFrame(dict_states)

In [23]:
# Showing the dataframe
df_population

       States  Population
0  California    39613493
1       Texas    29730311
2     Florida    21944577
3    New York    19299981

# 3 Creating a DataFrame form a csv file

In [25]:
# Reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')

In [27]:
# Show first 5 rows in a dataframe
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [29]:
# Show whole csv file in the dataframe
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [31]:
import pandas as pd

In [33]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')

In [35]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [37]:
# show first 5 rows in a dataframe
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [39]:
# show last 5 rows in a dataframe
df_exams.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [41]:
# show n rows in a dataframe
df_exams.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [43]:
# show n rows in a dataframe
df_exams.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [45]:
# getting access to the shape attribute
df_exams.shape

(1000, 8)

In [47]:
# display n rows
pd.set_option('display.max_rows', 1000)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

In [1]:
import pandas as pd

In [3]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')

In [5]:
# showing the dataframe
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

#  1.Attributes

In [7]:
# getting access to the shape attribute
df_exams.shape

(1000, 8)

In [9]:
# getting access to the index attribute
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [11]:
# getting access to the column attribute
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [13]:
# data types of each column
df_exams.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

# 2.Methods

In [15]:
# showing the first 5 columns
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
# showing the info of the dataframe
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [19]:
# describing basic statistics of the dataframe
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

# 3.Functions

In [21]:
# obtaining the lenght of the dataframe (number of rows)
len(df_exams)

1000

In [23]:
# obtaining the highest index of the dataframe
max(df_exams.index)

999

In [25]:
# obtaining the lowest index of the dataframe
min(df_exams.index)

0

In [27]:
# obtaining the data type
type(df_exams)

pandas.core.frame.DataFrame

In [29]:
# rounding the values of the dataset
round(df_exams, 2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# 1 Selcting one column

#  1.1 syntax 1

In [74]:
import pandas as pd

In [76]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [42]:
# select a column with [] (preferred way to select a column)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [44]:
# check out the data type of a column
type(df_exams['gender'])

pandas.core.series.Series

In [48]:
# series: attributes and methods  
df_exams['gender'].index
df_exams['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

# 1.2 Syntax 2

In [51]:
# select a column with .
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [61]:
# select a column with . (pitfalls)
df_exams.math score

SyntaxError: invalid syntax (3061062658.py, line 2)

In [63]:
# select the column using []
df_exams['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

# 1 Selecting two or more columns

In [66]:
# select two columns using [[]]
df_exams[['gender', 'math score']]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [68]:
# check out the data type of the selection 
type(df_exams[['gender', 'math score']])

pandas.core.frame.DataFrame

In [70]:
# selecting 2 or more columns using [[]]
df_exams[['gender', 'writing score', 'math score', 'reading score']]

     gender  writing score  math score  reading score
0    female             74          72             72
1    female             88          69             90
2    female             93          90             95
3      male             44          47             57
4      male             75          76             78
..      ...            ...         ...            ...
995  female             95          88             99
996    male             55          62             55
997  female             65          59             71
998  female             77          68             78
999  female             86          77             86

[1000 rows x 4 columns]

In [72]:
# we can't select 2 or more columns with .
df_exams.'gender', 'math score'

SyntaxError: invalid syntax (3466398017.py, line 2)

In [78]:
import pandas as pd

In [80]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1 Adding a new column

# 1.1 Adding a new column with a scalar value

In [87]:
# adding new column to dataframe
df_exams['language score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

# 1.2 Adding a new column with an array

The dataframe has 1000 rows, so we need to create an array with 1000 elements

In [92]:
# import numpy
import numpy as np

In [98]:
# create an array of 1000 elements
language_score = np.arange(0, 1000)

In [100]:
# ;ength of the array
len(language_score)

1000

In [140]:
# adding a new column to dataframe with an array
df_exams['language score'] = language_score

In [142]:

df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [144]:
# creating an array of random integer numbers between 1 and 100
int_language_score= np.random.randint(1, 100, size=1000)

In [146]:
# min value inclusive and high value exclusive
min(int_language_score)
max(int_language_score)

99

In [148]:
# adding a new column to dataframe with an array
df_exams['language score'] = int_language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,73
1,female,group C,some college,standard,completed,69,90,88,31
2,female,group B,master's degree,standard,none,90,95,93,82
3,male,group A,associate's degree,free/reduced,none,47,57,44,75
4,male,group C,some college,standard,none,76,78,75,73
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,33
996,male,group C,high school,free/reduced,none,62,55,55,3
997,female,group C,high school,free/reduced,completed,59,71,65,11
998,female,group D,some college,standard,completed,68,78,77,22
999,female,group D,some college,free/reduced,none,77,86,86,52

In [150]:
# create random float numbers between 1 and 100
np.random.uniform(1, 100, size=1000)

array([52.31559169,  1.92907048, 89.18330003,  5.53417536, 35.557801  ,
       41.80011055,  2.89895223, 74.38718473, 62.57322665, 69.8405311 ,
       58.26686677, 77.50742926, 21.28857522,  5.36608627, 61.42066822,
       52.31652375, 79.45086808, 92.7204971 , 27.92621038, 11.17335372,
       70.6315427 , 31.46911126, 45.52426268,  7.06581161, 85.27548338,
       95.19904243, 64.67352383, 67.05119284,  4.75174878, 29.81234244,
       47.03028964, 25.48546295, 11.83701748, 75.75194556,  7.08048674,
       41.62925382, 26.87551129, 89.73017776, 76.27963765, 81.7507634 ,
       82.94293023, 94.55785278, 62.18960374, 76.80160407, 75.78544094,
       57.99105197, 77.15986943, 28.18659298, 93.76904442, 53.08190559,
       87.01249722, 62.50244242, 98.38434334, 15.52014667, 58.11756263,
       73.76284912, 33.20723843, 14.75512771, 70.85926458, 11.32756001,
       16.13480293, 66.23008616, 56.95186991,  5.43433704, 67.94572609,
       32.05872133, 79.81349193, 12.93896816, 78.42488193,  6.21180485,
       62.76954336, 74.39750252, 54.31144493, 96.05068119, 14.47546525,
       57.81358376, 20.47593776, 39.01606292, 72.11951545, 37.75385148,
       65.74238644, 64.56211659, 62.20755812, 16.19499894, 21.77167829,
       39.32965167, 90.70994374, 94.75165933, 52.521887  , 94.99897838,
       21.16961089, 16.09615765, 25.30504105, 92.10731839, 97.77564643,
       55.12127329, 75.04107305, 89.03218321, 72.95873707, 58.61451348,
       22.94479678, 18.76538057, 67.71737634, 64.35583671, 65.91275999,
       96.1572345 , 90.9554036 , 48.84851113, 10.78924684, 41.91566748,
       19.25584527, 94.849145  , 38.39538098, 72.08569469, 22.39569252,
       12.67947611, 82.21332483, 82.62678934, 46.03151251, 86.73550713,
       19.31232532, 47.1616693 , 77.39230843, 47.8728416 ,  6.81372968,
       99.49280173, 31.29802182, 65.61011425, 20.52048554, 46.38791799,
       98.92132072, 12.78980456, 77.68920369, 78.45277747, 25.06597546,
       74.75803383, 87.69264645, 16.12564838, 16.41268562, 14.57109336,
       70.16426875, 41.99790294, 40.09004759, 54.57872105, 82.53209233,
       66.88136546, 69.89675463, 33.05743702, 32.35970894, 77.12028238,
       77.70360927, 30.94697372, 20.90675097, 19.62706264, 68.51760713,
       29.68224788, 31.50170648, 51.81786355, 40.16455716, 24.55575727,
       48.97652576, 80.21942346, 42.66866322, 35.15326559, 21.45635683,
       78.91960111, 92.52924075, 62.27528274,  8.8127719 , 88.3770642 ,
        5.28903187, 30.02642367, 63.4293307 ,  8.16271702, 48.26518237,
       72.33370196, 41.06260373, 47.531582  , 68.75400058, 20.40405951,
       74.8392079 , 34.62994987, 98.44194442, 16.95492562, 68.77965149,
       58.67383707, 65.79148582, 71.75934421, 86.53195354,  1.58519155,
       43.22892383, 90.40750058, 29.72563974, 60.84672458,  4.07096181,
       16.24682347, 92.66352544, 54.01347623, 97.81265916, 67.07483816,
       62.12071538, 24.26182442, 67.35528539, 40.7576276 ,  1.79124377,
       60.21624075, 13.81562789, 73.73798178, 23.74261704, 15.9811918 ,
       31.30111135, 78.67788314, 51.72833417, 48.45451072, 14.65380101,
       79.76941771, 97.2456856 , 58.32729862, 97.37033498,  1.96671912,
       68.61344934, 46.35486522, 26.05069495, 87.11741371, 11.55930127,
       49.25722231, 78.13569461, 67.80404234, 71.10680704, 83.21607335,
       62.07576   , 72.81268571, 60.72337355, 30.37994138, 51.50261049,
       54.24746521, 19.05197717, 33.93060871,  5.43211431, 91.13618897,
       18.17748651, 69.0029763 , 10.62694659,  9.86870768, 28.32562808,
       45.83399857, 69.17175465, 59.65408746, 38.46728383, 16.24171834,
       78.37025761, 80.23296023, 55.87890884, 31.44797007, 15.87932422,
       21.56565947, 69.60062274, 89.30950044, 45.05103958, 77.56327901,
       33.52232567, 60.6239683 , 25.36640825, 11.81763116, 26.78581121,
       96.0280588 , 97.05414934, 59.79241415, 84.14955087, 67.56297056,
       12.47737403,  8.46022419, 12.4849534 , 31.16652973,  6.53520641,
       66.48251161, 84.35192056, 94.23767234, 14.04083006, 50.63459895,
       86.15938123, 22.28960039, 12.81151704, 34.41238639, 22.48060808,
       41.63684292,  1.83963947, 69.87035018, 53.52138561, 12.160704  ,
       99.25500539, 39.90974341, 31.15752127, 18.59765978, 82.86753238,
       88.92211403, 91.46705399, 71.41542321, 83.76824203, 46.60884992,
        4.23499949, 85.28117053, 75.8599148 , 43.60238515, 67.60485912,
       95.82967581, 32.84729291, 22.40345704, 78.89949655, 24.99917212,
        6.3656272 ,  2.98785869, 14.90455099, 28.05188281, 87.32269918,
       78.80534954, 39.21293646,  2.01069825, 67.31116976, 78.54082876,
       31.62220928, 13.83497152, 14.15375653, 54.84469163, 85.95159872,
       23.26912166, 75.97453469, 14.26808125, 22.16268978, 65.49494334,
       62.26156977, 45.13473914, 91.86889402, 19.75053235, 76.88685855,
       81.71012143, 69.82508215, 50.43320328, 48.03450965, 85.40610239,
       23.3329443 , 45.19719778, 50.43381002, 62.96154684, 40.61597052,
       52.95331158, 65.31744212, 17.02296339, 28.16942929, 84.34745094,
       26.29920001, 35.16672335, 63.87585023,  9.23348175, 82.43020646,
       51.86631118, 42.16948097, 36.3993494 , 77.17978189, 54.49327993,
       23.54423753, 49.32425884, 16.2536769 , 23.30199542, 43.91564905,
       14.2470603 , 50.58868575, 99.82178542, 77.40069079, 16.5216893 ,
       60.29669152, 43.09175583, 40.90837711, 86.47475456, 81.16772184,
       35.58475877, 24.63127993, 64.73155557, 62.2303771 ,  1.06005049,
       91.46214338, 24.12435299,  1.17032799,  3.37537257, 31.05700524,
       95.66573669, 89.96637131, 96.29335225, 41.00346138, 51.92424188,
       35.24211363, 32.72832606, 11.80155863, 89.24921618, 89.08665189,
        5.09620576, 96.60433337, 95.7186222 , 69.62824833, 68.98124527,
       69.15855929, 57.75417753, 67.29656506, 16.32201156, 10.62112863,
       84.62553812,  2.6504661 , 29.07476932, 30.21236214, 69.98784667,
       95.78491372, 79.20496985, 28.02827745, 31.90738474, 10.42157831,
       51.50355122, 46.05526902, 39.13326515,  7.11500889, 51.03272336,
       15.33416053, 24.12555831, 59.35150934, 89.74897001, 36.09648451,
       28.29031173, 11.22673849, 53.70392496, 41.63171484,  7.81066564,
       33.40593724, 18.64386355, 34.44747566, 53.99097099,  8.67791633,
       98.16841969, 14.64913352, 24.40782867, 25.27416958, 50.22380302,
       65.71026622, 22.09831484, 72.4402413 , 82.0997916 , 22.02058805,
       34.16114838, 47.37905384, 25.1841489 , 89.79319728, 16.23883383,
       93.83516806, 83.57558202,  3.76521024, 18.41101065, 96.83236852,
       23.37094941, 42.5977029 , 63.92244116, 86.19986634, 88.50648526,
       27.12250748, 51.03216548, 32.69819456, 92.35517938,  8.43373221,
       94.45421736, 55.63437802, 27.55790453, 94.14671242, 56.03006159,
       60.05280903, 69.86309385,  1.00481928, 45.11758715, 97.32972252,
       80.61474973, 56.0386566 , 58.35993998, 67.66229558, 26.45514776,
       21.57358481, 79.80962674, 73.57278363,  4.55597204, 27.49619228,
       31.88860334,  8.38070072, 52.61350265, 17.25960101, 37.40470327,
       96.37087135, 38.3815953 ,  6.10165569, 64.32206455, 79.36931866,
       70.46821098, 94.23187759, 68.2476445 , 51.18607922, 31.81482475,
       17.66815468, 28.90856814, 39.34851015,  3.77182476, 52.83133231,
       36.22433864, 39.22289242, 69.53183224, 82.56722786, 98.99780389,
       43.64619756, 20.22219471, 66.67115004, 44.21873523,  7.41785807,
       19.20768067, 24.60078938,  1.42127736, 17.8342101 , 98.33824334,
       41.05889573, 80.75423859, 71.27847574, 72.44974968, 90.29777369,
       32.71984609,  8.11873219, 13.52496863, 53.48097429, 85.57241367,
       72.4689276 ,  1.04531446,  4.68338744, 34.0866237 , 70.0529412 ,
       45.13078534, 46.18689672, 72.44443766, 94.78624313, 48.3963882 ,
       54.60024745, 97.66667341, 79.02825217, 88.39268695, 76.20834497,
       97.78733644, 14.46075994,  9.44185922, 69.50286598, 50.90654066,
       69.61491316, 25.13931988, 26.59137215, 66.1990986 , 67.35682491,
       85.06186591, 27.52572501, 89.08050295, 67.52063556, 85.3085903 ,
       50.35280252, 90.93281682, 39.65671214, 67.19397957, 74.45603415,
       98.91259815, 46.90527916, 77.86068197, 99.46175577, 19.78457007,
        5.99743459, 51.28877458, 15.23643156, 45.3520022 ,  3.95550389,
       77.02381072, 74.16473935, 11.04290151, 58.51125028, 31.37862952,
       17.20214604, 31.46935158, 73.65914414, 44.48951639, 96.10487887,
       78.67435244, 64.29190744, 52.4928889 , 35.24826206, 26.12794806,
       85.94233309, 18.94907961, 42.6808358 , 99.87372333, 84.27061514,
       69.31384511, 63.44919975, 88.05434627, 71.39602333, 54.57722371,
       13.09437866, 45.39826446, 20.78098677, 32.9312492 , 65.79335524,
       56.36105547, 24.96984427, 68.37209522, 90.35293479, 86.22818521,
       96.72413435, 42.94020989, 36.52120123, 96.06720017, 92.99078459,
       42.47228153, 70.35550323, 52.59335231,  2.82143473, 45.49396194,
       25.70941725, 73.80695078, 37.42425726, 20.95220914, 61.73944859,
       66.59597016, 78.13164566, 29.7323987 , 63.69635156, 33.17057101,
       62.80855468, 44.39389187, 90.08312046, 63.86341851, 84.96572679,
       90.99631372,  4.00120832, 93.30073074, 68.47106382, 59.26496944,
        3.95706514, 43.38915669, 91.3584015 , 93.58287653, 72.21120492,
       73.75555295, 82.21503518, 41.22870762, 27.92619177, 44.58066513,
       92.26178456, 43.31255844,  8.7267385 , 19.2300808 , 72.44291076,
       98.62277663,  2.2489635 , 43.04775124, 18.98593642, 99.33041468,
       76.32378529,  1.26715436, 68.59205158, 29.03007546, 31.49960654,
       97.65248387,  5.20585986, 21.14312873, 17.04659929, 86.98069177,
       84.6502932 ,  7.68749528, 20.88668948, 42.2151659 , 35.7581294 ,
       81.79292242, 50.67962256, 49.90671471, 82.20208113, 69.61253192,
       20.9300355 , 60.38254627, 49.14067616, 15.19935757, 70.95768135,
       32.57270528, 16.51594339, 96.60263145,  8.11372348,  7.01221113,
       28.42287458, 65.52225195, 18.74071699, 55.47942081, 66.76189064,
       26.6670592 , 50.74795332, 73.96047625, 64.49513827, 30.10899381,
        3.57979762, 54.28780673, 79.5436964 , 74.5437281 , 30.71517496,
       18.65193475, 47.17154124, 50.7619794 , 78.20163418, 86.80120057,
       38.73455559, 11.22530367, 17.3443631 , 53.42430403, 33.10472724,
       72.42539231, 73.45244319, 31.62865048, 37.00570374, 23.20045814,
       52.40241512, 28.32348937, 74.50297005, 89.09156325, 87.16852171,
       62.45092403, 77.6424408 , 82.81780143, 10.3767486 , 22.53819151,
       65.90378099,  2.45809431, 98.66644536, 55.18315436, 11.91650627,
       61.03869538, 59.87682421, 48.80674029,  2.63565918,  4.80356069,
       60.99013644, 52.33870246, 49.85660879, 38.960749  , 31.01738753,
       99.53300342, 17.58158475, 45.30537614, 92.37282915, 59.79609219,
        9.14164604, 15.34173884, 82.9760111 , 84.12439168, 79.92815717,
       55.40304495,  8.12914921, 88.20869456, 15.66878875, 38.96472565,
       81.86339925, 50.95928207, 85.81738008, 64.86098953,  4.15126589,
       22.20054578,  1.81375628,  5.95717192, 44.68450088, 71.8883996 ,
       97.84243838, 31.86051267, 54.29065911, 43.86841936, 91.70964062,
       94.76554103, 46.71679933, 76.78500693, 37.01643448, 34.94250228,
       71.77593052, 62.25561088,  7.85277048, 43.00526775, 56.4426163 ,
       47.92301139, 17.25505355, 92.85790096,  4.33594858,  9.50900417,
       16.62481781, 60.06839724, 17.10194003, 59.22982397, 56.83798991,
       37.12855769, 68.5482226 , 28.03596761, 64.41126474, 76.55812729,
       32.14827694, 48.44069086, 98.14745244, 81.20458325, 53.55035188,
       61.46631857,  5.25048167, 69.78786059, 94.29411105, 42.84036192,
       51.29432148, 36.03429615, 70.72623905, 47.69991902, 17.87742564,
       18.79739271, 99.42575102, 84.4631575 , 87.67946789, 17.1773901 ,
       18.36715182, 93.35396443, 98.46586812, 16.72300234, 66.62567107,
       32.20931389, 57.61336643, 25.9200443 , 69.27554795, 70.44516674,
        1.16141974, 82.30330411, 86.54337529, 72.29352331, 10.64804219,
       55.23392015, 61.94856855, 54.91114732, 15.74953117, 37.11011928,
       52.02822182, 27.45228837,  4.94759502,  2.25983283,  9.48535314,
       69.39055541, 79.48324351, 16.91474695, 31.68453265, 51.1521489 ,
       15.08476621, 41.72395362, 21.70088526, 80.42461175, 65.6429615 ,
       72.70055175, 34.64335118, 85.47974094, 48.66957156, 81.43244764,
       74.90078485, 18.43259258,  5.54858124,  7.71423853, 73.60116188,
       14.98942796, 73.45505489, 26.57716842, 72.2754392 , 24.24696887,
       82.71897645, 68.66984904, 30.94766207, 91.28599595, 65.71959174,
       82.60370724, 33.9133241 , 49.41232351, 85.40093351, 57.42105775,
       52.59269024,  7.70043584, 14.69524694, 81.20141762, 50.33379893,
       73.074184  , 17.20535494, 11.90195038, 22.38577578,  6.25707724,
       96.82649171, 56.944301  , 97.18039998, 23.19378837, 32.80070788,
       54.54511439, 87.9227504 , 91.74711795, 82.83036433, 90.84670036,
       28.59192905, 78.76662717, 85.58092745, 79.17546245, 25.79498816,
       31.41328598, 50.51600956, 92.13400756, 26.72036681,  7.88552348,
       95.86642916,  2.83841622, 83.90788829, 53.39922111, 38.37031339,
       93.17605025, 16.04446411, 90.98526716,  7.87595352, 86.51784588,
       46.46226939, 72.8483925 , 27.45793925,  4.50536807, 78.07865532,
       57.63663045,  4.26443274, 89.63585866, 40.70672018, 38.41949877,
       96.52898454, 19.62957945, 46.73822795, 21.89613801, 50.56583329,
        4.24275866, 73.01809947, 24.84851328, 98.77892424, 19.50584118,
        1.49462817, 59.37299564, 73.00996183, 14.79641677, 74.38996588,
       86.33543006, 62.7042184 , 22.58171427, 15.54685538, 33.05220038,
       67.91233373, 25.28387565, 63.9978437 , 61.76296831, 35.17001111,
       26.42243293, 13.71995494, 11.78609159, 60.97805691, 97.96486515,
       74.69117405, 46.14864491, 16.87032836, 40.19308079, 38.74093275,
       17.32804121, 32.50583952, 31.10749654, 87.23139082, 76.35356871,
       51.5886942 ,  6.35976711, 37.21281897, 84.02965528, 13.0025152 ,
       14.40097457, 87.66322827, 22.23184414, 49.15618223, 39.67643654,
       86.46602172, 16.7363467 , 34.96742899, 80.10340667, 45.5557128 ,
       80.9180388 , 48.97598731, 87.41454871, 24.77975398, 14.3933942 ,
       97.99039779, 38.7850495 , 20.35294035, 31.42109605, 96.64983158,
       88.65691437, 53.01824649, 15.33670945, 63.34959629,  6.9913173 ])

In [5]:
import pandas as pd

In [7]:

# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1 Adding a new column

# 1.1 assign()

When to use assign?

    - Add multiple column in a single line  of code
    - When you need to overwrite the values of an existing columns(best practice)



It returns a new object(a copy) with all the original columns in addition to the new ones

In [3]:
import numpy as np

In [7]:
# create random numbers for our new score columns 
score1 = np.random.randint(1, 100, size=1000)
score2 = np.random.randint(1, 100, size=1000)

In [9]:
# create a series using the random numbers
series1 = pd.Series(score1, index=np.arange(0, 1000))
series2 = pd.Series(score2, index=np.arange(0, 1000))

In [11]:
# using assign() to add multiple columns
df_exams = df_exams.assign(score1=series1, score2=series2)

In [13]:
#show dataframe
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2
0,female,group B,bachelor's degree,standard,none,72,72,74,21,11
1,female,group C,some college,standard,completed,69,90,88,6,36
2,female,group B,master's degree,standard,none,90,95,93,3,44
3,male,group A,associate's degree,free/reduced,none,47,57,44,36,45
4,male,group C,some college,standard,none,76,78,75,30,68
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,73,88
996,male,group C,high school,free/reduced,none,62,55,55,2,21
997,female,group C,high school,free/reduced,completed,59,71,65,9,76
998,female,group D,some college,standard,completed,68,78,77,51,49
999,female,group D,some college,free/reduced,none,77,86,86,54,87

# 1.2 Insert


Inserts a new column at a specific position or index

In [15]:
# using insert()  to add a column at a specific position
df_exams.insert(1, 'test', series1)

In [17]:
# show dataframe
df_exams

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2
0,female,21,group B,bachelor's degree,standard,none,72,72,74,21,11
1,female,6,group C,some college,standard,completed,69,90,88,6,36
2,female,3,group B,master's degree,standard,none,90,95,93,3,44
3,male,36,group A,associate's degree,free/reduced,none,47,57,44,36,45
4,male,30,group C,some college,standard,none,76,78,75,30,68
...,...,...,...,...,...,...,...,...,...,...,...
995,female,73,group E,master's degree,standard,completed,88,99,95,73,88
996,male,2,group C,high school,free/reduced,none,62,55,55,2,21
997,female,9,group C,high school,free/reduced,completed,59,71,65,9,76
998,female,51,group D,some college,standard,completed,68,78,77,51,49
999,female,54,group D,some college,free/reduced,none,77,86,86,54,87

# 1 Math Operations

# 1.1 Operations in Columns

In [19]:
# select a column and calculate total sum
df_exams['math score'].sum()

66089

In [21]:
# count, mean, std, max, and min
df_exams['math score'].count()
df_exams['math score'].mean()
df_exams['math score'].std()
df_exams['math score'].max()
df_exams['math score'].min()

0

In [23]:
# easier calculation with .describe()
df_exams.describe()

,test,math score,reading score,writing score,score1,score2
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000
mean,47.705000,66.08900,69.169000,68.054000,47.705000,51.41100
std,27.917797,15.16308,14.600192,15.195657,27.917797,28.23766
min,1.000000,0.00000,17.000000,10.000000,1.000000,1.00000
25%,24.000000,57.00000,59.000000,57.750000,24.000000,28.00000
50%,46.000000,66.00000,70.000000,69.000000,46.000000,52.00000
75%,69.000000,77.00000,79.000000,79.000000,69.000000,76.00000
max,99.000000,100.00000,100.000000,100.000000,99.000000,99.00000

# 1.2 Operation in rows

In [27]:
# calculating the sum in a row
df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [29]:
#calculating the average score and assigning the result to a new column
df_exams['average']= (df_exams['math score'] + df_exams['reading score'] + df_exams['writing score'])/3

In [31]:
# showing the  datdframe 
df_exams

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2,average
0,female,21,group B,bachelor's degree,standard,none,72,72,74,21,11,72.666667
1,female,6,group C,some college,standard,completed,69,90,88,6,36,82.333333
2,female,3,group B,master's degree,standard,none,90,95,93,3,44,92.666667
3,male,36,group A,associate's degree,free/reduced,none,47,57,44,36,45,49.333333
4,male,30,group C,some college,standard,none,76,78,75,30,68,76.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,73,group E,master's degree,standard,completed,88,99,95,73,88,94.000000
996,male,2,group C,high school,free/reduced,none,62,55,55,2,21,57.333333
997,female,9,group C,high school,free/reduced,completed,59,71,65,9,76,65.000000
998,female,51,group D,some college,standard,completed,68,78,77,51,49,74.333333
999,female,54,group D,some college,free/reduced,none,77,86,86,54,87,83.000000

In [33]:
df_exams.round(2)

,gender,test,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,score1,score2,average
0,female,21,group B,bachelor's degree,standard,none,72,72,74,21,11,72.67
1,female,6,group C,some college,standard,completed,69,90,88,6,36,82.33
2,female,3,group B,master's degree,standard,none,90,95,93,3,44,92.67
3,male,36,group A,associate's degree,free/reduced,none,47,57,44,36,45,49.33
4,male,30,group C,some college,standard,none,76,78,75,30,68,76.33
...,...,...,...,...,...,...,...,...,...,...,...,...
995,female,73,group E,master's degree,standard,completed,88,99,95,73,88,94.00
996,male,2,group C,high school,free/reduced,none,62,55,55,2,21,57.33
997,female,9,group C,high school,free/reduced,completed,59,71,65,9,76,65.00
998,female,51,group D,some college,standard,completed,68,78,77,51,49,74.33
999,female,54,group D,some college,free/reduced,none,77,86,86,54,87,83.00

# 1 Value Counts

In [36]:
# counting gender elements
# len function
len(df_exams['gender'])
# .count() method
df_exams['gender'].count()

1000

In [38]:
# counting gender elements by category
df_exams['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [40]:
# return the relative frequency (divide all values by the sum of values)
df_exams['gender'].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [ ]:
# counting "parental level of education" elements by category

In [ ]:
df_exams['parental level of education'].value_counts()

In [48]:
# return the relative frequency and round to 2 decimals
df_exams['parental level of education'].value_counts(normalize=True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64

# 1 Sort a dataframe

In [ ]:
# sort by one column

In [23]:
df_exams.sort_values('math score')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10
980,female,group B,high school,free/reduced,none,8,24,23
17,female,group B,some high school,free/reduced,none,18,32,28
787,female,group B,some college,standard,none,19,38,32
145,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
962,female,group E,associate's degree,standard,none,100,100,100
149,male,group E,associate's degree,free/reduced,completed,100,100,93

In [25]:
# sort descending by one column
df_exams.sort_values('math score', ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
458,female,group E,bachelor's degree,standard,none,100,100,100
623,male,group A,some college,standard,completed,100,96,86
451,female,group E,some college,standard,none,100,92,97
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10

In [27]:
# sort descending by multiple columns and update dataframe
df_exams.sort_values(['math score', 'reading score'], ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
458,female,group E,bachelor's degree,standard,none,100,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10

In [41]:
# update dataframe
df_exams.sort_values(['math score', 'reading score'], ascending=False, inplace=True)

In [43]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
458,female,group E,bachelor's degree,standard,none,100,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10

In [33]:
# sort descending with a key function
df_exams.sort_values('race/ethnicity', ascending=True, key=lambda col:col.str.lower())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
741,female,group A,associate's degree,free/reduced,none,37,57,56
151,male,group A,bachelor's degree,standard,none,77,67,68
811,male,group A,high school,free/reduced,none,45,47,49
112,male,group A,associate's degree,standard,none,54,53,47
25,male,group A,master's degree,free/reduced,none,73,74,72
...,...,...,...,...,...,...,...,...
751,male,group E,some college,standard,none,68,72,65
915,female,group E,some college,standard,none,68,70,66
592,male,group E,bachelor's degree,standard,none,68,68,64
479,male,group E,associate's degree,standard,none,76,71,67
517,female,group E,some college,standard,completed,66,74,73

In [39]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [45]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
458,female,group E,bachelor's degree,standard,none,100,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
625,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33
787,female,group B,some college,standard,none,19,38,32
17,female,group B,some high school,free/reduced,none,18,32,28
980,female,group B,high school,free/reduced,none,8,24,23
59,female,group C,some high school,free/reduced,none,0,17,10

In [47]:
import pandas as pd

In [54]:
# reading the csv file
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# 1 Create Index

In [101]:
import numpy as np
import random

In [103]:
#creating non repetitive values for the index
new_index = np.arange(0, 1000)

In [105]:
# shuffling the indexes
random.shuffle(new_index)

In [107]:
# create a new column with new index
df_exams['new_index'] = new_index

In [109]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new index,new_index
new_index,,,,,,,,,,
999,female,group B,bachelor's degree,standard,none,72,72,74,999,998
61,female,group C,some college,standard,completed,69,90,88,61,953
959,female,group B,master's degree,standard,none,90,95,93,959,155
213,male,group A,associate's degree,free/reduced,none,47,57,44,213,971
403,male,group C,some college,standard,none,76,78,75,403,454
...,...,...,...,...,...,...,...,...,...,...
937,female,group E,master's degree,standard,completed,88,99,95,937,518
203,male,group C,high school,free/reduced,none,62,55,55,203,422
235,female,group C,high school,free/reduced,completed,59,71,65,235,610
991,female,group D,some college,standard,completed,68,78,77,991,83
68,female,group D,some college,free/reduced,none,77,86,86,68,662

# 2 Set Index

In [96]:
# set new_index column as index
df_exams.set_index('new_index', inplace=True)

In [98]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new index
new_index,,,,,,,,,
999,female,group B,bachelor's degree,standard,none,72,72,74,999
61,female,group C,some college,standard,completed,69,90,88,61
959,female,group B,master's degree,standard,none,90,95,93,959
213,male,group A,associate's degree,free/reduced,none,47,57,44,213
403,male,group C,some college,standard,none,76,78,75,403
...,...,...,...,...,...,...,...,...,...
937,female,group E,master's degree,standard,completed,88,99,95,937
203,male,group C,high school,free/reduced,none,62,55,55,203
235,female,group C,high school,free/reduced,completed,59,71,65,235
991,female,group D,some college,standard,completed,68,78,77,991
68,female,group D,some college,free/reduced,none,77,86,86,68

# 3 Sort Index

In [111]:
# sort dataframe by new index
df_exams.sort_index()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new index,new_index
new_index,,,,,,,,,,
0,female,group C,some high school,free/reduced,none,44,50,51,0,646
1,female,group C,associate's degree,standard,completed,74,75,83,1,961
2,female,group B,some college,free/reduced,none,45,53,55,2,148
3,male,group C,high school,standard,none,61,56,55,3,327
4,female,group B,high school,standard,none,62,62,63,4,698
...,...,...,...,...,...,...,...,...,...,...
995,male,group A,some high school,standard,completed,47,49,49,995,436
996,male,group C,master's degree,standard,none,71,67,67,996,256
997,female,group B,some high school,standard,completed,32,51,44,997,622
998,female,group A,high school,free/reduced,completed,77,88,85,998,363
999,female,group B,bachelor's degree,standard,none,72,72,74,999,998

In [115]:
# sort descending by index
df_exams.sort_index(ascending=False, inplace=True)

In [117]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new index,new_index
new_index,,,,,,,,,,
999,female,group B,bachelor's degree,standard,none,72,72,74,999,998
998,female,group A,high school,free/reduced,completed,77,88,85,998,363
997,female,group B,some high school,standard,completed,32,51,44,997,622
996,male,group C,master's degree,standard,none,71,67,67,996,256
995,male,group A,some high school,standard,completed,47,49,49,995,436
...,...,...,...,...,...,...,...,...,...,...
4,female,group B,high school,standard,none,62,62,63,4,698
3,male,group C,high school,standard,none,61,56,55,3,327
2,female,group B,some college,free/reduced,none,45,53,55,2,148
1,female,group C,associate's degree,standard,completed,74,75,83,1,961
0,female,group C,some high school,free/reduced,none,44,50,51,0,646

In [119]:
df_exams.drop(columns=['new index'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,new_index
new_index,,,,,,,,,
999,female,group B,bachelor's degree,standard,none,72,72,74,998
998,female,group A,high school,free/reduced,completed,77,88,85,363
997,female,group B,some high school,standard,completed,32,51,44,622
996,male,group C,master's degree,standard,none,71,67,67,256
995,male,group A,some high school,standard,completed,47,49,49,436
...,...,...,...,...,...,...,...,...,...
4,female,group B,high school,standard,none,62,62,63,698
3,male,group C,high school,standard,none,61,56,55,327
2,female,group B,some college,free/reduced,none,45,53,55,148
1,female,group C,associate's degree,standard,completed,74,75,83,961
0,female,group C,some high school,free/reduced,none,44,50,51,646